{% load i18n %}{% url 'translations:version_edit' version.pk as next %}<ol class="sentence-comments">
  {% for comment in comments %}{% include "translations/sentence_comment.html" %}{% empty %}<li class="note">{% translate "Aucun commentaire sur cette phrase." %}</li>{% endfor %}
</ol>
{% if can_comment %}
<form method="post" action="{% url 'translations:comment_post' version.pk segment.pk %}" class="form panel-comment-form" data-panel-form>
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}">
  {{ form.as_div }}
  <button type="submit" class="button button-small">{% translate "Commenter" %}</button>
</form>
{% endif %}
